
profiles {
    local {
        process.executor = 'local'
    }

    local_docker {
        process.executor = 'local'
        process.container = 'staphb/hmmer:latest'
        docker.enabled = true
    }

    // example HPC configuration
    hpc {
        process.executor = 'slurm'
        process.clusterOptions = '--partition=standard --account=account --ntasks=1' // options set as default for each
                                                                                     // process
        process.container = 'staphb/hmmer:latest'
        singularity.enabled = true
        process.scratch = true // ask nextflow to store intermediate fies on nodes instead of in /home, improving
                               // performance and reducing I/O

    }
}
